:root {
  --color_primary: #0a0a0a;
  --color_secundary: #cfb8eb;
  --dark_purple: #53167c;
  --light_blue: #3b66a5;
  --light_blue-2: #3b66a5;
  --green: #26c526;
  --color_light: #fff;
  --red: #ffc93c;
  /* --red: #e24d4b; */
  --red_2: #ffc93c;
  /* --red_2:#eb233c; */
  --tipografia_primary: "Playfair Display", serif;
  --tipografia_secondary: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--color_secundary);
  color: var(--color_light);
}

a {
  text-decoration: none;
  color: var(--color_light);
}

li {
  list-style: none;
}

img,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--tipografia_primary);
}

.main {
  text-align: center;
  position: relative;
  z-index: 1;
}

.circulos {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--light_blue);
  z-index: 0;
}
.circulos .circulo {
  width: 50%;
  height: 50%;
  position: absolute;
  filter: blur(2.2rem);
}
.circulos .circulo1 {
  color: var(--color_primary);
  top: 0;
  left: 0;
  animation: circulo1 20s ease infinite;
}

@keyframes circulo1 {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
.circulos .circulo2 {
  color: var(--dark_purple);
  top: 0;
  right: 0;
  animation: circulo2 10s ease infinite;
}

@keyframes circulo2 {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
.circulos .circulo3 {
  color: var(--green);
  bottom: 50px;
  left: 10px;
  animation: circulo3 20s ease infinite;
}

@keyframes circulo3 {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
.circulos .circulo4 {
  color: var(--red);
  bottom: 0;
  right: 0;
  animation: circulo4 20s ease infinite;
}

@keyframes circulo4 {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}

.header {
  width: 100%;
  padding: 1em;
  min-height: 5em;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  position: fixed;
  box-shadow: 0px -4px 9px var(--color_light);
  z-index: 45;
}

.logo {
  font-size: 2em;
}
.button {
  background-color: transparent;
  border: none;
  color: var(--color_light);
  width: 3em;
  height: 3em;
  display: block;
}

@media (min-width: 768px) {
  .button {
    display: none;
  }
}

.svg-hamburger {
  width: 100%;
  height: 100%;
}

.svg-close {
  width: 100%;
  height: 100%;
  display: none;
}
.active {
  display: block;
}
.inactive {
  display: none;
}

.nav {
  width: 100%;
  height: 50vh;
  box-shadow: 0px 1px 7px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: height 1s ease;
}

@media (min-width: 768px) {
  .nav {
    box-shadow: none;
  }
}

.nav.active {
  height: 0;
}

@media (min-width: 768px) {
  .nav.active {
    height: auto;
  }
}

@media (min-width: 768px) {
  .nav {
    width: auto;
    display: flex;
  }
}

.list {
  padding: 1em 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .list {
    padding: 1em;
    flex-flow: row wrap;
  }
}

.items {
  font-size: 1.3em;
}

.p {
  font-family: var(--tipografia_secondary);
  font-size: 1.1rem;
}
.section {
  width: 100%;
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color_light);
  overflow: hidden;

  /* animation: aparecer 3s ease both; */
}
.animation {
  display: none;
}
.aparecer2 {
  animation: aparecer2 2s ease both;
  display: flex;
}

@keyframes aparecer2 {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.section .h2 {
  font-weight: 700;
  font-size: 3.5rem;
}

@media (min-width: 768px) {
  .section .h2 {
    font-size: 5em;
  }
}
.section .h3 {
  font-family: var(--tipografia_primary);
  font-weight: 100;
  font-size: 2em;
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (min-width: 768px) {
  .section .h3 {
    font-size: 3.5em;
  }
}

.section .grid {
  max-width: 65em;
  width: 90%;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1em;
}
.section .article {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.section .figure {
  width: 100%;
}
.section .img {
  width: 100%;
}
.section .h4 {
  width: 100%;
  height: 100%;
  color: var(--color_primary);
  font-size: 1.5rem;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 100;
  background-color: hsl(0deg 0% 2% / 1%);
  backdrop-filter: blur(8px);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  opacity: 0;
  transform: translateZ(1) scale(0);
  transition: opacity 1s ease, transform 1s;
}

.section .article:hover .h4 {
  opacity: 1;
  transform: translateZ(1) scale(1);
}

.button_a {
  margin-top: 1.5rem;
  margin-bottom: 10px;
  padding: 0.875rem 1.875rem;
  box-shadow: 0px 0px 5px rgb(240 234 234 / 30%);
  border-radius: 0.5rem;
  text-transform: capitalize;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.button_a:hover {
  background-color: rgba(226, 12, 226, 0.3);
}
.trabajos .h2 {
  margin-bottom: 2rem;
}
.about {
  overflow: hidden;
}
.about .h2 {
  margin-bottom: 1rem;
}

.about .p {
  max-width: 40em;
  text-align: left;
  margin-bottom: 1em;
}
.about .rrss {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.about .li {
  margin: 0 1em;
}
.about .svg {
  width: 3em;
  height: 3em;
}
.footer {
  text-align: center;
  padding: 0 2em;
  text-transform: capitalize;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 50;
}

.footer .span {
  font-size: 1.5rem;
  margin: 1em 0;
  display: block;
  width: 100%;
}
.svg {
  margin-top: 2rem;
  color: var(--color_secundary);
}
.wraper {
  background-color: var(--light_blue-2);
  padding: 1em;
  border-radius: 12px;
  animation-delay: 3s;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.typewriter {
  position: relative;
}

.typewriter .typewriter_span {
  position: absolute;
  right: 0;
  width: 0%;
  background-color: var(--light_blue-2);
  border-left: 0.065rem solid var(--color_light);

  animation: typewriter 3s steps(19) infinite alternate;
}

@keyframes typewriter {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.div-wraper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease, transform 1s ease;
}

.transform-y {
  opacity: 1;
  transform: translateY(0);
}

.about-me {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

.transform-x {
  opacity: 1;
  transform: translateY(0);
}

.wraper-p {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s ease;
}

.transform-y-2 {
  opacity: 1;
  transform: translateY(0);
}

.dpb {
  display: block;
}

.span-p {
  color: var(--color_primary);
}
.span-web a {
  color: var(--light_blue);
}
.span-git-hub a {
  color: var(--light_blue);
}

.unders-score {
  position: relative;
}
.unders-score::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--red_2);
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.unders-score:hover::after {
  transform: scaleX(1);
}

/* -------- desde la teoria----------- */

.container__lateral {
  padding: 0 0.625rem;
  position: fixed;
  bottom: 0;
}
.container__lateral::after {
  content: "";
  width: 2px;
  height: 12.5rem;
  display: block;
  background-color: var(--red_2);
  margin: 0 auto;
}
.side__left {
  display: none;
  left: 0;
}
.side__right {
  display: none;
  right: 0;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .side__left {
    display: block;
  }
  .side__right {
    display: block;
  }
}
.side__right a {
  margin-bottom: 0.625rem;
  writing-mode: vertical-lr;
}
.left__list {
  margin-bottom: 0.625rem;
}

.left__svg {
  width: 100%;
  height: 31px;
  margin: 1rem auto 0 auto;
  color: var(--color_secundary);
}
